container-regular {
width: 100%;
max-width: 1260px;
min-height: 30px;
margin-left: auto;
margin right: auto;
}

.section {
  min-height: 250px;
}

.heading {
  text-align: center;
  margin-top: 76px;
  font-family: Vollkorn, serif;
}

.text-block {
  text-align: center;
}

.social-icon {
    float: left;
}